<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Visualizador de índices y estimador fondos AFP">
    <meta property="og:image" content="https://i.pinimg.com/originals/89/f9/71/89f971bd1cc00a0cd89c05cb348a2fb2.png">
    {{!-- CCS Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    {{!-- CSS Custom --}}
    <link rel="stylesheet" href="../css/custom.css">
    {{!-- JQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Estimator-App</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
</head>
<body>
    <header>
        <div id="time-update" class="text-center">
            <span class="badge rounded-pill bg-info text-dark">Última actualización: 05:23:12 </span>
            <button class="btn btn-light btn-sm" id="btn-update">Actualizar</button>
        </div>
    </header>
    <div class="container-fluid">
    <!-- Content here -->
        <div id="index-rows" class="row pt-2">
            
        </div>
        <div id="estimadores1" class="row pt-2">

        </div>
        <div id="estimadores2" class="row pt-2">
        </div>
        
    </div>
    {{!-- JS Bootstrap --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {{!-- Custom JS --}}
    {{!-- <script type="text/javascript" src="../js/dax.js"></script> --}}
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/create.js"></script>
</body>
</html>